body {
	font-family: Helvetica, Verdana, sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
}

a {
	display: block;
	text-decoration: none;
	width: 60px;
	background-color: red;
	padding: 10px;
	margin: 2px;
	border-radius: 8px;
	/*
	*/
}